:root {
    --yellow-color: #fbc902;
    --blue-color: #495ca7;
    --light-blue: #e4eaf5;
    --dark-blue: #262b45;
    --black-color: #141212;
    --white-color: #f2f1ee;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 520px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
}

#input {
    background-color: var(--yellow-color);
    color: var(--blue-color);
    width: 60%;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 8.5px;
    font-size: 0.8rem;
}

#btn {
    background-color: var(--blue-color);
    color: var(--yellow-color);
    width: 40%;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 7px;
    font-size: 1rem;
}

.error {
    margin-top: 15px;
}

.pokemon-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 6px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    margin-top: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
}

#name {
    margin: 10px 0;
    text-transform: uppercase;
}

#img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

h3 {
    margin: 10px 0;
}

.stats {
    margin-top: 30px;
}

ul {
    list-style-type: none;
}

li {
    margin: 5px 0;
}

@media screen and (max-width: 540px) {
    .logo {
        width: 400px;
    }
}

@media screen and (max-width: 470px) {
    .logo {
        width: 330px;
        margin-top: 15px;
    }

    .input-button {
        width: 330px;
    }

    #input {
        width: 65%;
        font-size: 0.75rem;
    }

    #btn {
        width: 35%;
        font-size: 0.85rem;
    }

    .pokemon-container {
        display: flex;
        flex-direction: column;
        max-width: 330px;
    }

    #name {
        margin: 3px;
    }

    #img {
        width: 200px;
        height: auto;
        margin-bottom: 0px;
    }

    h3 {
        margin: 0px;
    }

    .stats {
        margin-top: 30px;
    }

    li {
        margin: 3px 0;
    }
}
